[submodule "Content/BlackoutHunt/Art/Downloaded/KayKit/KayKit-Character-Pack-Adventures-1.0"]
	path = Content/BlackoutHunt/Art/Downloaded/KayKit/KayKit-Character-Pack-Adventures-1.0
	url = https://github.com/KayKit-Game-Assets/KayKit-Character-Pack-Adventures-1.0.git
